# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
env/
venv/
.conda/

# Jupyter
.ipynb_checkpoints/

# Data (large files)
*.csv
*.parquet
train_spectrograms/
test_spectrograms/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
